* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

/*h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}*/

footer {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	padding: 5px;
}

a{
	font-weight: bolder;
}

#landing-jumbo {
	height: 40vh;
	align-items: center;
	color: #000;
	background-image: url("../images/cover3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#stmalogo {
	background-image: url("../images/stmalogo2.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	height: 20vh;
	width: 20vh;
}

#blnkspc{
	height: 10vh;
}

#crdbdy{
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

#ytframe{
	width: 100%;
	height: 30vh;
}

li{
	list-style: none;
	float: left;
	display: inline;
}

.invalid::before{
	position: relative;
	left: -15px;
	content: "X";
}

.invalid{
	color: red;
}

.valid{
	color: white;
}

.valid::before{
	position: relative;
	left: -15px;
	content: "✓";
}

#message{
	display: none;
}

.dark-mode{
	background: black;
	color: #1697a7;
}

.dark-mode #landing-jumbo {
	height: 40vh;
	align-items: center;
	color: #fff;
	background-image: url("../images/cover.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#wrapper-dark{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 1em;
}

#colorSwitch{
	width: 4em;
	height: 2em;
	border-radius: 10em;
	background: white;
	border: 2px solid black;
	position: absolute;
	cursor: pointer;
}

#colorToggle{
	width: 1.6em;
	height: 1.6em;
	background: black;
	position: absolute;
	border-radius: 10em;
	top: 0.1em;
	left: 0.2em;
	cursor: pointer;
	transition: all 250ms ease-in-out;
}

#colorSwitch::before{
	content: "Light";
	position: absolute;
	display: inline-block;
	width: 12em;
	left: -8em;
	top: 0.4em;
}

#inputSwitch:checked ~ label #colorToggle{
	transform: translatex(1.7em);
}

#inputSwitch:checked ~ #colorSwitch::before{
	content: "Dark";
}

#inputSwitch{
	display: none;
}